{% extends 'admin/base.html.twig' %}

{% block title %}Inscription au stage{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1>Modifier l'inscription au stage :</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Valider les modifications</button>
        <ul class="nav">
        <li class="nav-item mx-auto">
            <a class="btn btn-dark" href="{{ path('admin_stage_index') }}">Retour</a>
        </li>
        </ul>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}