{% extends 'base.html.twig' %}

{% block title %}Modifier le password{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier votre password :</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Confirmez le nouveau password</button>
        {{ form_end(form) }}
        <a href="{{ path('user_show', {'firstName' : app.user.firstName}) }}" class="btn btn-primary">RETOUR</a> 
    </div>


{% endblock %}