<footer class="mt-5 bg-light py-5">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 mb-4">
            <ul class="nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mention légale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul> 
        </div>
        <div class="col-md-4">
        </div>
    </div>
</footer>