<footer class="bg-transparent py-2 border-top">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 mb-4">
            <ul class="nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('homepage') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Mention légale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('contact_create')}}">Contact</a>
                </li>
            </ul> 
        </div>
        <div class="col-md-4">
        </div>
    </div>
</footer>