/* base 
    font-family: 'Cinzel', serif;
    gris clair-> #c9cbcb 
    vert -> #b8f214 
    gris foncé -> ##1B1E1C     
*/
/****************    home page **********************/
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Cinzel', serif;
}

.container-fluid{
    padding: 0px;
    margin:  0px;
}

.separator{
    height: 2px;
    width: 50%;
    border: none;
    box-shadow: none;
    background-color: #b8f214;
}

/* banniere */
.bann {
    background-image:url('/img/fond.jpg');
    width :100%;
    max-width: 100%;
    height: 900px;
    max-height: 100%;
    background-size: cover;
}

.inner-banner{
    position: absolute;
    top:30%;
    width:100%;
    text-align: center;
}

.inner-banner h1{
    color:#ffffff;
    text-shadow: 2px 2px 10px #000000;
    font-weight: bold;   
}

.inner-banner p{
    color:#ffffff;
    text-shadow: 2px 2px 20px #000000;
}

.btn-banner{
    background-color: #b8f214;
    color : #000000;
}

.btn-banner:hover{
    background-color:#bed67b;
}

/* about */

.about{
    background-color: #c9cbcb;
    width: 100%;
    padding : 1%;
    
}

.about h2{
    font-weight: bold;
    padding:2%;

}

.city{
    width: 150px;
    transform: rotate(-10deg);
    /*box-shadow : 1px 1px 5px #000000;*/
}

.reprise{
    width: 300px;
    transform: rotate(5deg);
}

.reprise p{
    visibility: hidden;
}

.texte {
    color:#000000;

}
.texte p{
    padding:10%;
    color:#000000;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow : 1px 1px 20px #ffffff;
}

/* contact */ 

.contact{
    width: 100%;
    padding : 2%; 
}

.joie img{
    box-shadow : 2px 2px 10px #000000;
    transform: rotate(15deg);
}

.contact-text h2{
    text-align: center;
}

.contact-text li{
    text-decoration: none;
    text-align: center;
    list-style: none;
}

/****************************** evenement *******************************************/
.header-article{
    width:100%;
    max-width:100%;
    position: relative;
}



.title-article {
    position: absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#ffffff;
}

/****************************************** article seul ************************************/
.show-banner {
    width: 100%;
    max-width: 100%;
    

}

.show-banner img {
    width: 100%;
    max-width: 100%;
    height: 400px;
    position : relative;
}

.show-bann {
    position: absolute;
    top:20%;
    width:100%;
    text-align: center;
    color:#ffffff;
}

.show-img img{
    width: 600px;
    margin-top:60%;
    transform: rotate(-10deg);
}

.show-text {
    margin-top:3%;
    text-shadow: 2px 2px 10px #ffffff;
    font-weight: bold;
}

.list ul{
    list-style: none;
}

.list a:hover{
    text-decoration: none;
}

/********************* contact ********************************************/

.cont{
    margin-top:10%;
    margin-bottom: 0px;
    transform: rotate(-10deg);
}

.cont img {
    height:50%;
    margin-left:30%;
}

.cont-form {
    margin-top: 30%;
    margin-bottom: 0px;

}

.adress-text li {
    text-decoration: none;
    text-align: center;
    list-style: none;
}

.adress {
    margin-top: 30%;
    margin-right:90%;
    margin-bottom: 0px;
    

}

.adress img {
    width:500px;

    margin-right:90%;
}



/************** dashboard ********************************************/
.nav-links{
    margin-left:0px;
    margin-right:0px;
    
}

.carte a{
    text-decoration: none;
}

/************************* adherent *************************************/

.adherent img {
    width: 450px;
    transform: rotate(-20deg);
    margin-top: 30%;
}


/************************ login user ****************************/
.login{
    margin-top: 5%;
    margin-bottom: 9%;
}

/*************************** profil **************************/
.profil{
    margin-top: 5%;
    margin-bottom: 7%;
}

.mod{
    margin-top: 5%;
    margin-bottom: 12%;
}

.modification img{
    width:90%;
    margin-top:15%;
    transform:rotate(20deg);
}

/******************************** password **************************/
.mdp{
    margin-top: 5%;
    margin-bottom: 20%;

}

/***************************** reservation ***************************/
.resa {
    margin-top:5%;
}

.res{
    margin-bottom: 5%;
}