div.container{
    margin-top:20px;
}

.bg-hero{
    background-image: url('/img/fond.jpg');
}

div.reservation-hero{
    padding: 4em;
}

div.reservation-hero h1, div.reservation-hero p{
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

div.title-reservation{
    padding: 3em;
}


div.title-reservation h1, div.title-reservation p{
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.bg{
    background-color: black;
}

/* faire l'arrondi de l'avatar */

.avatar {
    max-width: 130px;
    max-height: 130px;
    border:solid 1px black;
    border-radius: 50%;
    box-shadow: 5px 1px 1px black;
}

.avatar-medium {
    max-width: 65px;
    max-height: 65px;
}

.avatar-mini{
    max-width: 32px;
    max-height: 32px;
}