<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TCS{% endblock %}</title>
        <!-- link css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{asset('/css/style.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
        <!-- link icone -->
        <link rel="stylesheet" href="/css/all.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'admin/partials/header.html.twig' %}

        {% block body %}{% endblock %}


        
        <script src="/js/jquery.min.js"></script>
        <script src="/js/pooper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/all.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
