{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
    <div class="container">
        <h1>envoyez-nous un petit message</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">envoyer</button>
            {{ form_end(form) }}
    </div>

{% endblock %}