{% extends 'base.html.twig' %}

{% block title %}
  Bienvenue sur tennis club saussan
{% endblock %}

{% block body %}
  <div class="container-fluide">
    <div class="jumbotron mt-4 bg-white">
      <h1 class="display-3 text-center">{{ title }}</h1>
        <p class="lead text-center">Association sportif de tennis avec un esprit de famille, venez rejoindre le club pour passer un bon moment au club et jouer avec la bonne humeur.</p>
        <hr class="my-4">
        <p class="text-center">Vous pouvez aussi réserver un terrain directement de ce site.</p>
        <p class="lead text-center">
          <a class="btn btn-primary btn-lg" href="#" role="button">Venez</a>
        </p> 
      </div>
  </div>
  <div class="container">
    <hr class="my-5">
    <h2 class="h1 mt-3 mb-4">Derniers événements :</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header text-center"><h4 class="card-title">Reprise des entrainements :</h4></div>
            <img src="http://placehold.it/200x200" alt="Image de tennis" style="height: 200px; width: 100%; display: block"> 
            <div class="card-body">
              <p class="card-text">Voila l'annèe viens juste de debuter, <strong>n'oubliez pas vous inscrire</strong></p>
              <a href="#" class="btn btn-info">Plus d'info</a>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header text-center"><h4 class="card-title">Reprise des entrainements :</h4></div>
            <img src="http://placehold.it/200x200" alt="Image de tennis" style="height: 200px; width: 100%; display: block"> 
            <div class="card-body">
              <p class="card-text">Voila l'annèe viens juste de debuter, <strong>n'oubliez pas vous inscrire</strong></p>
              <a href="#" class="btn btn-info">Plus d'info</a>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header text-center"><h4 class="card-title">Reprise des entrainements :</h4></div>
            <img src="http://placehold.it/200x200" alt="Image de tennis" style="height: 200px; width: 100%; display: block"> 
            <div class="card-body">
              <p class="card-text">Voila l'annèe viens juste de debuter, <strong>n'oubliez pas vous inscrire</strong></p>
              <a href="#" class="btn btn-info">Plus d'info</a>
            </div>
        </div>
      </div>
    </div>
  </div>    
{% endblock %}

