{% extends 'base.html.twig' %}

{% block title %}
  Bienvenue sur tennis club saussan
{% endblock %}

{% block body %}
  <section class="container-fluid banner">
    <div class="bann">
    
    <div class="inner-banner">
      <h1>Tennis Club Saussan</h1>
      <hr class="separator">
      <p class="justify-content-center">
      Rejoignez notre club de <strong>tennis</strong>,vous pourrez apprendre à jouer dans un cadre familliale ou progresser grâce au compétence de notre entraineur.<br>
      Nos cours commencent à partir de 17h, Génial pour vos enfants aprés l'école on pratique le tennis le tout dans la bonne humeur....
      </p>
      <button class="btn btn-banner"><a href="{{ path('contact_create')}}" class="text-dark">Contactez-nous</a></button>
    </div>
    </div>
  </section>
  <section class="container-fluid about">
    <hr class="separator">
    <div class="container">
        <h2>À propos de nous</h2>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 city">
                <img src="/img/ball.jpg" alt="balle de tennis">
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 reprise">
                <img src="/img/reprise.jpg" alt="joueur de tennis">
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 texte">
                <p>
                  Nous sommes une <strong>association sportive</strong> crée en 1983,notre nombre s'eleve à 80 adhérents.
                  Les enfants peuvent commencer à partir de 5 ans pour faire un an de découvert du tennis avec un apprentissage ludique.
                  Nous possédons 3 terrains (2 en dur et 1 en gazon synthétique) et il est possible de <strong>réserver le terrain</strong> 
                  à partir du site pour les adhérents du club, et bien sur en fonction des entrainements,il y aura toujours un terrain pour exercer
                  votre passion.
                  n'hesitez pas à nous <a href="{{ path('contact_create')}}">contacter</a> pour avoir des renseignements complémentaire, on vous répondra .....   
                </p>
            </div> 
        </div>
    </div>
  </section>
  <section class="container-fluid contact">
    <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sx-12 col-sm-12 joie">
            <img src="/img/joie.jpg" alt="joueur de tennis" >
          </div>
          <div class="col-md-5 col-lg-6 col-sx-12 col-sm-12 ">
            <div class="contact-text">
              <h2>Contact :</h2>
                <ul>
                  <li>président: MR Raspaud Frédéric</li>
                  <li>Adresse :</li>
                  <li>  6 Allée de Maguelone</li>
                  <li>      34570 Saussan</li>
                  <li>Téléphone : <li>
                        <li>04/67/27/33/10</li>
              </p>
            </div>    
          </div>
        </div>
    </div>
  </section>
{% endblock %}